body {
    margin: 0;
}
video {    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}
h1 {
    color: rgb(14, 13, 13);
    position: absolute;
}
h2 {
    color: rgb(14, 12, 12);
    position: absolute;
}
h3 {
    color: rgb(14, 12, 12);
    position: absolute;
}
p {
    color: rgb(10, 9, 9);
    position: absolute;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  audio {
      position: absolute;
      bottom: 33%;
  }